.component {
    display: flex;
    padding: 15px;
  
    img {
      width: 32px;
      height: 32px;
      margin: 0;
    }

    span {
      color: #fff;
      font-size: 18px;
      display: block;
      margin: auto 0 auto 10px;
      height: 32px;
      overflow: hidden;
      opacity: 1;
      transition: opacity 0.3s ease-out;
    }
}

.collapsed {
  flex-direction: column;

  img {
    margin: 0 9px; // (80px - 32px - 15px * 2) / 2
    transition: margin 0.3s ease-in-out;
  }

  span {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
}