// Header
$header-height: 64px;
$header-background: #fff;
$header-padding-left: 30px;

// PageLayout
$content: 20px auto 0; // временная переменная, удалить после создания всех секций

// Section
$content-margin: 20px 20px 0px;

// ActionBar
$search-width: 250px;

// Table
$table-margin-top: 15px;
