@import "../../../../styles/vars.scss";

.component {
    margin-top: $table-margin-top;
    
    .alignCenter {
        display: block;
        text-align: center;
        width: fit-content;
        margin: 0 auto;
    }

    .checkBox {
        margin-top: 12px;
        height: 32px;
    }
}
